body {
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-size: 1.0rem;
}

.title {
    background-color: #217346;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    height: 5vh;
    color: #fff;
}

.menu-options {
    height: 5vh;
    display: flex;
    background-color: white;
    align-items: center;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    background: #217346;
    height: 5vh;
    /* align-items: center; */
}

.menu-bar-item {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.menu-bar-item:hover {
    background: rgb(16, 66, 39);
    cursor: pointer;
}

.menu-bar-item.selected {
    background: white;
    color: #217346;
}

.menu-bar-item.selected:hover {
    background: white;
    color: #217346;
    cursor: default;
}

.menu-options>div {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    border-right: 1px solid lightgray;
}

.menu-options-1>div {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 65%;
    width: 15%;
    border-radius: 5px;
}

.menu-options-1>div:hover, .menu-options-2>div:hover {
    background-color: lightgray;
}

.menu-options-2>div {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 65%;
    width: 15%;
    border-radius: 5px;
}

.menu-options-3>div {
}

.menu-options-4>div {
}

.formula-tab {
    display: flex;
    flex-direction: row;
    height: 5vh;
    /* justify-content: center; */
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: lightgray;
}

.cells {
    height: calc(100vh - 24vh);
    overflow: auto;
    position: relative;
}

.sheets {
    height: 30px;
    background: #217346;
    display: flex;
    /* margin-left: 10px; */
}

.all-cells {
    /* overflow: auto; */
    position: absolute;
    top: 25px;
    left: 30px;
}

.row {
    display: flex;
    /* height: 30px; */
    /* width: 40px; */
    /* border: 1px solid; */
}

.cell {
    min-height: 25px;
    min-width: 70px;
    max-width: 70px;
    border: 1px solid lightgray;
    outline: none;
}

.top-left-cell {
    height: 25px;
    width: 30px;
    /* background: slategray; */
    position: absolute;
    z-index: 3;
}

.top-row {
    display: flex;
    position: absolute;
    top: 0px;
    left: 30px;
    background: white;
    z-index: 2;
}

.top-row-cell {
    min-width: 70px;
    font-size: 1.1rem;
    border: 1px solid lightgray;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.left-col {
    position: absolute;
    top: 25px;
    z-index: 2;
    background: white;
}

.left-col-cell {
    min-height: 25px;
    font-size: 1.1rem;
    border: 1px solid lightgray;
    align-items: center;
    width: 30px;
    align-content: center;
}

#formula {
    width: calc(100vw - 8vw);
    border: none;
    margin: 35px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 70%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    outline: none;
}

#address {
    width: 6vw;
    padding-left: 0.5rem;
    margin: 10px;
    padding-right: 0.5rem;
    height: 75%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    outline: none;
}

.add-sheet {
    margin-left: 10px;
    margin-right: 10px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheets-list {
    display: flex;
    height: 100%;
    /* border: 1px solid; */
    /* width: 160px; */
    /* justify-content: space-around; */
    align-items: center;
}

.sheet {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 20%;
    height: 65%;
    width: 58px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-sheet {
    background: white;
}

.active-menu {
    background-color: lightgray;
}
